# coding: utf-8

"""
    Hopsworks api

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.1.0-SNAPSHOT
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class FeaturegroupServiceApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_featuregroup(self, featurestore_id, project_id, **kwargs):  # noqa: E501
        """Create feature group in a featurestore  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_featuregroup(featurestore_id, project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int featurestore_id: (required)
        :param int project_id: (required)
        :param FeaturegroupDTO body:
        :return: FeaturegroupDTO
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_featuregroup_with_http_info(featurestore_id, project_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_featuregroup_with_http_info(featurestore_id, project_id, **kwargs)  # noqa: E501
            return data

    def create_featuregroup_with_http_info(self, featurestore_id, project_id, **kwargs):  # noqa: E501
        """Create feature group in a featurestore  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_featuregroup_with_http_info(featurestore_id, project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int featurestore_id: (required)
        :param int project_id: (required)
        :param FeaturegroupDTO body:
        :return: FeaturegroupDTO
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['featurestore_id', 'project_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_featuregroup" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'featurestore_id' is set
        if ('featurestore_id' not in params or
                params['featurestore_id'] is None):
            raise ValueError("Missing the required parameter `featurestore_id` when calling `create_featuregroup`")  # noqa: E501
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `create_featuregroup`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'featurestore_id' in params:
            path_params['featurestoreId'] = params['featurestore_id']  # noqa: E501
        if 'project_id' in params:
            path_params['projectId'] = params['project_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/project/{projectId}/featurestores/{featurestoreId}/featuregroups', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FeaturegroupDTO',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_feature_group_from_feature_store(self, featuregroup_id, featurestore_id, project_id, **kwargs):  # noqa: E501
        """Delete specific featuregroup from a specific featurestore  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_feature_group_from_feature_store(featuregroup_id, featurestore_id, project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int featuregroup_id: Id of the featuregroup (required)
        :param int featurestore_id: (required)
        :param int project_id: (required)
        :return: FeaturegroupDTO
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_feature_group_from_feature_store_with_http_info(featuregroup_id, featurestore_id, project_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_feature_group_from_feature_store_with_http_info(featuregroup_id, featurestore_id, project_id, **kwargs)  # noqa: E501
            return data

    def delete_feature_group_from_feature_store_with_http_info(self, featuregroup_id, featurestore_id, project_id, **kwargs):  # noqa: E501
        """Delete specific featuregroup from a specific featurestore  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_feature_group_from_feature_store_with_http_info(featuregroup_id, featurestore_id, project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int featuregroup_id: Id of the featuregroup (required)
        :param int featurestore_id: (required)
        :param int project_id: (required)
        :return: FeaturegroupDTO
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['featuregroup_id', 'featurestore_id', 'project_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_feature_group_from_feature_store" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'featuregroup_id' is set
        if ('featuregroup_id' not in params or
                params['featuregroup_id'] is None):
            raise ValueError("Missing the required parameter `featuregroup_id` when calling `delete_feature_group_from_feature_store`")  # noqa: E501
        # verify the required parameter 'featurestore_id' is set
        if ('featurestore_id' not in params or
                params['featurestore_id'] is None):
            raise ValueError("Missing the required parameter `featurestore_id` when calling `delete_feature_group_from_feature_store`")  # noqa: E501
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `delete_feature_group_from_feature_store`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'featuregroup_id' in params:
            path_params['featuregroupId'] = params['featuregroup_id']  # noqa: E501
        if 'featurestore_id' in params:
            path_params['featurestoreId'] = params['featurestore_id']  # noqa: E501
        if 'project_id' in params:
            path_params['projectId'] = params['project_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/project/{projectId}/featurestores/{featurestoreId}/featuregroups/{featuregroupId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FeaturegroupDTO',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_featuregroup_contents(self, featuregroup_id, featurestore_id, project_id, **kwargs):  # noqa: E501
        """Delete featuregroup contents  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_featuregroup_contents(featuregroup_id, featurestore_id, project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int featuregroup_id: Id of the featuregroup (required)
        :param int featurestore_id: (required)
        :param int project_id: (required)
        :return: FeaturegroupDTO
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_featuregroup_contents_with_http_info(featuregroup_id, featurestore_id, project_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_featuregroup_contents_with_http_info(featuregroup_id, featurestore_id, project_id, **kwargs)  # noqa: E501
            return data

    def delete_featuregroup_contents_with_http_info(self, featuregroup_id, featurestore_id, project_id, **kwargs):  # noqa: E501
        """Delete featuregroup contents  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_featuregroup_contents_with_http_info(featuregroup_id, featurestore_id, project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int featuregroup_id: Id of the featuregroup (required)
        :param int featurestore_id: (required)
        :param int project_id: (required)
        :return: FeaturegroupDTO
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['featuregroup_id', 'featurestore_id', 'project_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_featuregroup_contents" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'featuregroup_id' is set
        if ('featuregroup_id' not in params or
                params['featuregroup_id'] is None):
            raise ValueError("Missing the required parameter `featuregroup_id` when calling `delete_featuregroup_contents`")  # noqa: E501
        # verify the required parameter 'featurestore_id' is set
        if ('featurestore_id' not in params or
                params['featurestore_id'] is None):
            raise ValueError("Missing the required parameter `featurestore_id` when calling `delete_featuregroup_contents`")  # noqa: E501
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `delete_featuregroup_contents`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'featuregroup_id' in params:
            path_params['featuregroupId'] = params['featuregroup_id']  # noqa: E501
        if 'featurestore_id' in params:
            path_params['featurestoreId'] = params['featurestore_id']  # noqa: E501
        if 'project_id' in params:
            path_params['projectId'] = params['project_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/project/{projectId}/featurestores/{featurestoreId}/featuregroups/{featuregroupId}/clear', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FeaturegroupDTO',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_feature_group_from_feature_store(self, featuregroup_id, featurestore_id, project_id, **kwargs):  # noqa: E501
        """Get specific featuregroup from a specific featurestore  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_feature_group_from_feature_store(featuregroup_id, featurestore_id, project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int featuregroup_id: Id of the featuregroup (required)
        :param int featurestore_id: (required)
        :param int project_id: (required)
        :return: FeaturegroupDTO
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_feature_group_from_feature_store_with_http_info(featuregroup_id, featurestore_id, project_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_feature_group_from_feature_store_with_http_info(featuregroup_id, featurestore_id, project_id, **kwargs)  # noqa: E501
            return data

    def get_feature_group_from_feature_store_with_http_info(self, featuregroup_id, featurestore_id, project_id, **kwargs):  # noqa: E501
        """Get specific featuregroup from a specific featurestore  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_feature_group_from_feature_store_with_http_info(featuregroup_id, featurestore_id, project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int featuregroup_id: Id of the featuregroup (required)
        :param int featurestore_id: (required)
        :param int project_id: (required)
        :return: FeaturegroupDTO
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['featuregroup_id', 'featurestore_id', 'project_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_feature_group_from_feature_store" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'featuregroup_id' is set
        if ('featuregroup_id' not in params or
                params['featuregroup_id'] is None):
            raise ValueError("Missing the required parameter `featuregroup_id` when calling `get_feature_group_from_feature_store`")  # noqa: E501
        # verify the required parameter 'featurestore_id' is set
        if ('featurestore_id' not in params or
                params['featurestore_id'] is None):
            raise ValueError("Missing the required parameter `featurestore_id` when calling `get_feature_group_from_feature_store`")  # noqa: E501
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `get_feature_group_from_feature_store`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'featuregroup_id' in params:
            path_params['featuregroupId'] = params['featuregroup_id']  # noqa: E501
        if 'featurestore_id' in params:
            path_params['featurestoreId'] = params['featurestore_id']  # noqa: E501
        if 'project_id' in params:
            path_params['projectId'] = params['project_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/project/{projectId}/featurestores/{featurestoreId}/featuregroups/{featuregroupId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FeaturegroupDTO',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_feature_group_preview(self, featuregroup_id, featurestore_id, project_id, **kwargs):  # noqa: E501
        """Preview feature data of a featuregroup  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_feature_group_preview(featuregroup_id, featurestore_id, project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int featuregroup_id: Id of the featuregroup (required)
        :param int featurestore_id: (required)
        :param int project_id: (required)
        :return: list[FeaturegroupPreview]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_feature_group_preview_with_http_info(featuregroup_id, featurestore_id, project_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_feature_group_preview_with_http_info(featuregroup_id, featurestore_id, project_id, **kwargs)  # noqa: E501
            return data

    def get_feature_group_preview_with_http_info(self, featuregroup_id, featurestore_id, project_id, **kwargs):  # noqa: E501
        """Preview feature data of a featuregroup  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_feature_group_preview_with_http_info(featuregroup_id, featurestore_id, project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int featuregroup_id: Id of the featuregroup (required)
        :param int featurestore_id: (required)
        :param int project_id: (required)
        :return: list[FeaturegroupPreview]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['featuregroup_id', 'featurestore_id', 'project_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_feature_group_preview" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'featuregroup_id' is set
        if ('featuregroup_id' not in params or
                params['featuregroup_id'] is None):
            raise ValueError("Missing the required parameter `featuregroup_id` when calling `get_feature_group_preview`")  # noqa: E501
        # verify the required parameter 'featurestore_id' is set
        if ('featurestore_id' not in params or
                params['featurestore_id'] is None):
            raise ValueError("Missing the required parameter `featurestore_id` when calling `get_feature_group_preview`")  # noqa: E501
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `get_feature_group_preview`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'featuregroup_id' in params:
            path_params['featuregroupId'] = params['featuregroup_id']  # noqa: E501
        if 'featurestore_id' in params:
            path_params['featurestoreId'] = params['featurestore_id']  # noqa: E501
        if 'project_id' in params:
            path_params['projectId'] = params['project_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/project/{projectId}/featurestores/{featurestoreId}/featuregroups/{featuregroupId}/preview', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[FeaturegroupPreview]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_feature_group_schema(self, featuregroup_id, featurestore_id, project_id, **kwargs):  # noqa: E501
        """Get the SQL schema of a featuregroup  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_feature_group_schema(featuregroup_id, featurestore_id, project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int featuregroup_id: Id of the featuregroup (required)
        :param int featurestore_id: (required)
        :param int project_id: (required)
        :return: RowValueQueryResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_feature_group_schema_with_http_info(featuregroup_id, featurestore_id, project_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_feature_group_schema_with_http_info(featuregroup_id, featurestore_id, project_id, **kwargs)  # noqa: E501
            return data

    def get_feature_group_schema_with_http_info(self, featuregroup_id, featurestore_id, project_id, **kwargs):  # noqa: E501
        """Get the SQL schema of a featuregroup  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_feature_group_schema_with_http_info(featuregroup_id, featurestore_id, project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int featuregroup_id: Id of the featuregroup (required)
        :param int featurestore_id: (required)
        :param int project_id: (required)
        :return: RowValueQueryResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['featuregroup_id', 'featurestore_id', 'project_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_feature_group_schema" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'featuregroup_id' is set
        if ('featuregroup_id' not in params or
                params['featuregroup_id'] is None):
            raise ValueError("Missing the required parameter `featuregroup_id` when calling `get_feature_group_schema`")  # noqa: E501
        # verify the required parameter 'featurestore_id' is set
        if ('featurestore_id' not in params or
                params['featurestore_id'] is None):
            raise ValueError("Missing the required parameter `featurestore_id` when calling `get_feature_group_schema`")  # noqa: E501
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `get_feature_group_schema`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'featuregroup_id' in params:
            path_params['featuregroupId'] = params['featuregroup_id']  # noqa: E501
        if 'featurestore_id' in params:
            path_params['featurestoreId'] = params['featurestore_id']  # noqa: E501
        if 'project_id' in params:
            path_params['projectId'] = params['project_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/project/{projectId}/featurestores/{featurestoreId}/featuregroups/{featuregroupId}/schema', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='RowValueQueryResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_featuregroups_for_featurestore(self, featurestore_id, project_id, **kwargs):  # noqa: E501
        """Get the list of feature groups for a featurestore  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_featuregroups_for_featurestore(featurestore_id, project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int featurestore_id: (required)
        :param int project_id: (required)
        :return: list[FeaturegroupDTO]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_featuregroups_for_featurestore_with_http_info(featurestore_id, project_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_featuregroups_for_featurestore_with_http_info(featurestore_id, project_id, **kwargs)  # noqa: E501
            return data

    def get_featuregroups_for_featurestore_with_http_info(self, featurestore_id, project_id, **kwargs):  # noqa: E501
        """Get the list of feature groups for a featurestore  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_featuregroups_for_featurestore_with_http_info(featurestore_id, project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int featurestore_id: (required)
        :param int project_id: (required)
        :return: list[FeaturegroupDTO]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['featurestore_id', 'project_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_featuregroups_for_featurestore" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'featurestore_id' is set
        if ('featurestore_id' not in params or
                params['featurestore_id'] is None):
            raise ValueError("Missing the required parameter `featurestore_id` when calling `get_featuregroups_for_featurestore`")  # noqa: E501
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `get_featuregroups_for_featurestore`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'featurestore_id' in params:
            path_params['featurestoreId'] = params['featurestore_id']  # noqa: E501
        if 'project_id' in params:
            path_params['projectId'] = params['project_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/project/{projectId}/featurestores/{featurestoreId}/featuregroups', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[FeaturegroupDTO]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sync_with_featurestore(self, featurestore_id, project_id, **kwargs):  # noqa: E501
        """Synchornize Hive Table with the feature store  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sync_with_featurestore(featurestore_id, project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int featurestore_id: (required)
        :param int project_id: (required)
        :param FeaturegroupDTO body:
        :return: FeaturegroupDTO
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sync_with_featurestore_with_http_info(featurestore_id, project_id, **kwargs)  # noqa: E501
        else:
            (data) = self.sync_with_featurestore_with_http_info(featurestore_id, project_id, **kwargs)  # noqa: E501
            return data

    def sync_with_featurestore_with_http_info(self, featurestore_id, project_id, **kwargs):  # noqa: E501
        """Synchornize Hive Table with the feature store  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sync_with_featurestore_with_http_info(featurestore_id, project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int featurestore_id: (required)
        :param int project_id: (required)
        :param FeaturegroupDTO body:
        :return: FeaturegroupDTO
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['featurestore_id', 'project_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sync_with_featurestore" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'featurestore_id' is set
        if ('featurestore_id' not in params or
                params['featurestore_id'] is None):
            raise ValueError("Missing the required parameter `featurestore_id` when calling `sync_with_featurestore`")  # noqa: E501
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `sync_with_featurestore`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'featurestore_id' in params:
            path_params['featurestoreId'] = params['featurestore_id']  # noqa: E501
        if 'project_id' in params:
            path_params['projectId'] = params['project_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/project/{projectId}/featurestores/{featurestoreId}/featuregroups/sync', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FeaturegroupDTO',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_featuregroup(self, featuregroup_id, featurestore_id, project_id, **kwargs):  # noqa: E501
        """Update featuregroup contents  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_featuregroup(featuregroup_id, featurestore_id, project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int featuregroup_id: Id of the featuregroup (required)
        :param int featurestore_id: (required)
        :param int project_id: (required)
        :param FeaturegroupDTO body:
        :param bool update_metadata: updateMetadata
        :param bool update_stats: updateStats
        :param bool enable_online: enableOnline
        :param bool disable_online: disableOnline
        :param bool update_stats_settings: updateStatsSettings
        :return: FeaturegroupDTO
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_featuregroup_with_http_info(featuregroup_id, featurestore_id, project_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_featuregroup_with_http_info(featuregroup_id, featurestore_id, project_id, **kwargs)  # noqa: E501
            return data

    def update_featuregroup_with_http_info(self, featuregroup_id, featurestore_id, project_id, **kwargs):  # noqa: E501
        """Update featuregroup contents  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_featuregroup_with_http_info(featuregroup_id, featurestore_id, project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int featuregroup_id: Id of the featuregroup (required)
        :param int featurestore_id: (required)
        :param int project_id: (required)
        :param FeaturegroupDTO body:
        :param bool update_metadata: updateMetadata
        :param bool update_stats: updateStats
        :param bool enable_online: enableOnline
        :param bool disable_online: disableOnline
        :param bool update_stats_settings: updateStatsSettings
        :return: FeaturegroupDTO
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['featuregroup_id', 'featurestore_id', 'project_id', 'body', 'update_metadata', 'update_stats', 'enable_online', 'disable_online', 'update_stats_settings']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_featuregroup" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'featuregroup_id' is set
        if ('featuregroup_id' not in params or
                params['featuregroup_id'] is None):
            raise ValueError("Missing the required parameter `featuregroup_id` when calling `update_featuregroup`")  # noqa: E501
        # verify the required parameter 'featurestore_id' is set
        if ('featurestore_id' not in params or
                params['featurestore_id'] is None):
            raise ValueError("Missing the required parameter `featurestore_id` when calling `update_featuregroup`")  # noqa: E501
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `update_featuregroup`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'featuregroup_id' in params:
            path_params['featuregroupId'] = params['featuregroup_id']  # noqa: E501
        if 'featurestore_id' in params:
            path_params['featurestoreId'] = params['featurestore_id']  # noqa: E501
        if 'project_id' in params:
            path_params['projectId'] = params['project_id']  # noqa: E501

        query_params = []
        if 'update_metadata' in params:
            query_params.append(('updateMetadata', params['update_metadata']))  # noqa: E501
        if 'update_stats' in params:
            query_params.append(('updateStats', params['update_stats']))  # noqa: E501
        if 'enable_online' in params:
            query_params.append(('enableOnline', params['enable_online']))  # noqa: E501
        if 'disable_online' in params:
            query_params.append(('disableOnline', params['disable_online']))  # noqa: E501
        if 'update_stats_settings' in params:
            query_params.append(('updateStatsSettings', params['update_stats_settings']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/project/{projectId}/featurestores/{featurestoreId}/featuregroups/{featuregroupId}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FeaturegroupDTO',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
