# ValidationResult

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**status** | [**StatusEnum**](#StatusEnum) |  |  [optional]
**constraintsResult** | [**List&lt;ConstraintResult&gt;**](ConstraintResult.md) |  |  [optional]

<a name="StatusEnum"></a>
## Enum: StatusEnum
Name | Value
---- | -----
SUCCESS | &quot;Success&quot;
WARNING | &quot;Warning&quot;
FAILURE | &quot;Failure&quot;
EMPTY | &quot;Empty&quot;
